# 1 - Introduction

Graded Challenge 6

Name : Gilang Wiradhyaksa

Batch : SBY - 001

# 2 - Import Libraries

In [16]:
# Import Library
import pickle
import pandas as pd
import numpy as np

# 3 - Load Files

In [17]:
#MODEL
with open('km_3.pkl', 'rb') as file_1:
    km_3 = pickle.load(file_1)

#SCALER
with open('model_scaler_mm.pkl', 'rb') as file_2:
    model_scaler_mm = pickle.load(file_2)

#NUMERICAL
with open('list_num_column_skew.txt', 'rb') as file_3:
    list_num_column_skew = pickle.load(file_3)

#PCA
with open('pca.txt', 'rb') as file_4:
    pca = pickle.load(file_4)

# 4 - Create Data

In [18]:
data_inf = {
    'BALANCE': {0: 2134.513436, 1: 284.34843, 2: 2447.872198, 3: 1143.409012, 4: 1145.052414},
    'BALANCE_FREQUENCY': {0: 1.0, 1: 0.545455, 2: 1.0, 3: 1.0, 4: 1.0},
    'PURCHASES': {0: 733.35, 1: 0.0, 2: 2108.56, 3: 0.0, 4: 115.95},
    'ONEOFF_PURCHASES': {0: 78.6, 1: 0.0, 2: 1563.4, 3: 0.0, 4: 115.95},
    'INSTALLMENTS_PURCHASES': {0: 654.75, 1: 0.0, 2: 545.16, 3: 0.0, 4: 0.0},
    'CASH_ADVANCE': {0: 5716.149236, 1: 651.58766, 2: 0.0, 3: 47.241537, 4: 191.654534},
    'PURCHASES_FREQUENCY': {0: 0.818182, 1: 0.0, 2: 0.916667, 3: 0.0, 4: 0.083333},
    'ONEOFF_PURCHASES_FREQUENCY': {0: 0.181818, 1: 0.0, 2: 0.416667, 3: 0.0, 4: 0.083333},
    'PURCHASES_INSTALLMENTS_FREQUENCY': {0: 0.818182, 1: 0.0, 2: 0.916667, 3: 0.0, 4: 0.0},
    'CASH_ADVANCE_FREQUENCY': {0: 0.181818, 1: 0.090909, 2: 0.0, 3: 0.083333, 4: 0.083333},
    'CASH_ADVANCE_TRX': {0: 7, 1: 1, 2: 0, 3: 1, 4: 1},
    'PURCHASES_TRX': {0: 11, 1: 0, 2: 14, 3: 0, 4: 1},
    'CREDIT_LIMIT': {0: 3000.0, 1: 1500.0, 2: 7000.0, 3: 1200.0, 4: 1500.0},
    'PAYMENTS': {0: 6801.933334, 1: 429.615048, 2: 730.926311, 3: 283.066151, 4: 1703.004051},
    'MINIMUM_PAYMENTS': {0: 1017.637027, 1: 178.518687, 2: 718.232165, 3: 353.608086, 4: 374.43666},
    'PRC_FULL_PAYMENT': {0: 0.090909, 1: 0.0, 2: 0.0, 3: 0.0, 4: 0.083333},
    'TENURE': {0: 11, 1: 11, 2: 12, 3: 12, 4: 12}
    }

In [19]:
df = pd.DataFrame(data_inf)
# df = df.iloc[[4]]
df

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,2134.513436,1.000000,733.35,78.60,654.75,5716.149236,0.818182,0.181818,0.818182,0.181818,7,11,3000.0,6801.933334,1017.637027,0.090909,11
1,284.348430,0.545455,0.00,0.00,0.00,651.587660,0.000000,0.000000,0.000000,0.090909,1,0,1500.0,429.615048,178.518687,0.000000,11
2,2447.872198,1.000000,2108.56,1563.40,545.16,0.000000,0.916667,0.416667,0.916667,0.000000,0,14,7000.0,730.926311,718.232165,0.000000,12
3,1143.409012,1.000000,0.00,0.00,0.00,47.241537,0.000000,0.000000,0.000000,0.083333,1,0,1200.0,283.066151,353.608086,0.000000,12
4,1145.052414,1.000000,115.95,115.95,0.00,191.654534,0.083333,0.083333,0.000000,0.083333,1,1,1500.0,1703.004051,374.436660,0.083333,12

# 5 - Inferencing

In [20]:
# Split between num column and cat column
data_inf_num_s = df[list_num_column_skew]

In [21]:
data_inf_num_s_scaled = model_scaler_mm.transform(data_inf_num_s)

In [22]:
df_scaled_pca = pca.transform(data_inf_num_s_scaled)

In [23]:
predict_inf = km_3.predict(df_scaled_pca)

In [24]:
df['CLUSTER'] = predict_inf
df

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE,CLUSTER
0,2134.513436,1.000000,733.35,78.60,654.75,5716.149236,0.818182,0.181818,0.818182,0.181818,7,11,3000.0,6801.933334,1017.637027,0.090909,11,0
1,284.348430,0.545455,0.00,0.00,0.00,651.587660,0.000000,0.000000,0.000000,0.090909,1,0,1500.0,429.615048,178.518687,0.000000,11,1
2,2447.872198,1.000000,2108.56,1563.40,545.16,0.000000,0.916667,0.416667,0.916667,0.000000,0,14,7000.0,730.926311,718.232165,0.000000,12,2
3,1143.409012,1.000000,0.00,0.00,0.00,47.241537,0.000000,0.000000,0.000000,0.083333,1,0,1200.0,283.066151,353.608086,0.000000,12,1
4,1145.052414,1.000000,115.95,115.95,0.00,191.654534,0.083333,0.083333,0.000000,0.083333,1,1,1500.0,1703.004051,374.436660,0.083333,12,1

The model can determine clusters well